.submit-button {
    background-color: $white;
    font-size: 1.8rem;
    font-weight: 700;
    color: $indigo-blue;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 52vw;
    margin: 1.5rem 0;
    // large
    @include media-large {
        width: 50vw;
    }
    &:active,
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
}