.submit-button {
    background-color: $white;
    font-size: 1.6rem;
    color: $indigo-blue;
    border: none;
    padding: 0.5rem;
    width: 52vw;
    margin: 1.5rem 0;
    &:active,
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
}