.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem 3rem;
    width: 100vw;
    //  responsive
    @include media-large {
        margin: 1rem 0;
        width: 85vw;
    }
    //  single group
    &__group {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        //  title
        .__title {
            font-size: 1.6rem;
            margin-bottom: 0.5rem;
            //  responsive
            @include media-md {
                font-size: 2rem;
            }
        }
        // input
        .input {
            border: none;
            font-size: 1.5rem;
            padding: 0.5rem;
            color: $indigo-blue;
            width: 50vw;
            &:focus {
                outline: none;
            }
        }
    }
}