@import '../core/variables';
@import '../core/reset';
@import '../components/title';
@import '../components/form';
@import '../components/book-list';
@import '../components/buttons';
@import './alert';
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}