@import './variables';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: $very-dark-blue;
    color: $white;
    font-family: 'Nunito', sans-serif;
}

// .app {
//     height: 100vh;
//     width: 100vw;
// }
ul {
    list-style: none;
}

a {
    text-decoration: none;
}