@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  background-color: #012a4a;
  color: #ffffff;
  font-family: 'Nunito', sans-serif; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 1200px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.app-title {
  font-size: 3rem;
  font-weight: 700; }
  @media screen and (min-width: 768px) {
    .app-title {
      font-size: 4rem; } }
  @media only screen and (min-width: 1200px) {
    .app-title {
      margin-top: 3rem;
      font-size: 5.4rem; } }
  .app-title .fas {
    margin-right: 1rem; }
  .app-title .__text {
    margin-right: 6rem; }
    @media screen and (min-width: 768px) {
      .app-title .__text {
        margin-right: 0rem; } }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 1rem 3rem;
  width: 100vw; }
  @media only screen and (min-width: 1200px) {
    .form {
      margin: 1rem 0;
      width: 85vw; } }
  .form__group {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .form__group .__title {
      font-size: 1.6rem;
      margin-bottom: 0.5rem; }
      @media screen and (min-width: 768px) {
        .form__group .__title {
          font-size: 2rem; } }
    .form__group .input {
      border: none;
      font-size: 1.5rem;
      padding: 0.5rem;
      color: #013a63;
      width: 50vw; }
      .form__group .input:focus {
        outline: none; }

.bookList {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .bookList .books-title {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ffffff;
    text-align: center;
    width: 85vw; }
    @media screen and (min-width: 768px) {
      .bookList .books-title {
        font-size: 2.5rem;
        width: 50vw; } }

.book {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 1.5rem; }
  .book__title {
    font-size: 1.6rem;
    margin: 0.5rem; }
    @media screen and (min-width: 768px) {
      .book__title {
        font-size: 2.2rem; } }
    @media only screen and (min-width: 1200px) {
      .book__title {
        font-size: 2.5rem; } }
  .book__author {
    font-size: 1.6rem;
    margin: 0.5rem; }
    @media screen and (min-width: 768px) {
      .book__author {
        font-size: 2.2rem; } }
  .book__isbn {
    font-size: 1.6rem;
    margin: 0.5rem; }
    @media screen and (min-width: 768px) {
      .book__isbn {
        font-size: 2.2rem; } }
  .book__delete {
    color: #ffffff;
    font-size: 1.6rem;
    margin: 0.5rem 1.5rem 1rem;
    padding: 0.2rem 1rem; }
    .book__delete__a {
      margin: 0.5rem 1.5rem 1rem;
      padding: 0.2rem 1rem;
      color: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 0.5rem; }
      .book__delete__a:active, .book__delete__a:hover {
        background-color: #ffffff;
        color: #013a63; }

.submit-button {
  background-color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  color: #013a63;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 52vw;
  margin: 1.5rem 0; }
  @media only screen and (min-width: 1200px) {
    .submit-button {
      width: 15vw; } }
  @media only screen and (min-width: 1440px) {
    .submit-button {
      width: 10vw; } }
  .submit-button:active, .submit-button:hover {
    cursor: pointer; }
  .submit-button:focus {
    outline: none; }

.alert__danger {
  background-color: #a9d6e5;
  color: #012a4a;
  font-size: 1.4rem;
  padding: 0.5rem;
  width: 50vw;
  margin: 1.5rem;
  text-align: center;
  font-weight: 700;
  border-radius: 0.6rem; }
.alert__success {
  background-color: #01497c;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 0.5rem;
  width: 50vw;
  margin: 1.5rem;
  text-align: center;
  font-weight: 700;
  border-radius: 0.6rem; }

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  background-color: #012a4a;
  color: #ffffff;
  font-family: 'Nunito', sans-serif; }

ul {
  list-style: none; }

a {
  text-decoration: none; }
